/* ----------------------------------------------------------------------------
	Stylesheets only for Internet Explorer 6
	Author: Juan G. Hurtado
	e-Mail: juan.g.hurtado@gmail.com
   ---------------------------------------------------------------------------- */

/* =Misc
   ---------------------------------------------------------------------------- */
/* Self-clear floats */
.clearfix, .group {
	height: 1%;
}

/* Example of PNG background with transparency */
body {
	background: transparent none no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='img/image.png');
}

/* =Global
   ---------------------------------------------------------------------------- */

/* =Header
   ---------------------------------------------------------------------------- */

/* =Navigation
   ---------------------------------------------------------------------------- */

/* =Main
   ---------------------------------------------------------------------------- */

/* =Aside
   ---------------------------------------------------------------------------- */

/* =Footer
   ---------------------------------------------------------------------------- */