/* ----------------------------------------------------------------------------
	Main stylesheet
	Author: Juan G. Hurtado
	e-Mail: juan.g.hurtado@gmail.com
   ---------------------------------------------------------------------------- */

/* =Misc
   ---------------------------------------------------------------------------- */
/* Import reset styles */
@import url(reset.css);

/* Self-clear floats */
.clearfix:after, .group:after {
	clear: both; 
	content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden;
}

/* Hide without display: none; (http://gist.github.com/225929) */
.internal, .hide, hr {
	display: block;
	height: 1px;
	left: -999em;
	position: absolute;
	text-indent: -999em;
	top: -999em;
	width: 1px;
}

/* Example of font-face */
@font-face {  
	font-family: "fontName";
	src: url(/location/of/font/FontFileName.eot);  /* IE */
	src: local("realFontName"), url(/location/of/font/FontFileName.ttf) format("truetype"); /* non-IE */
}

/* =Global
   ---------------------------------------------------------------------------- */
body {
	color: #666;
	font: 100%/1.5 Helvetica, Arial, sans-serif;
}

a {
	color: #002162;
}

#wrapper {
	margin: 2em 10%;
}

p, h1, h2, h3, h4, h5, h6, ul {
	margin-bottom: 1em;
}

/* =Header
   ---------------------------------------------------------------------------- */
#header {}

	#header h1 {
		border-top: 8px solid #eee;
		color: #000;
		font-size: 3em;
		font-weight: normal;
		line-height: 1.3em;
		margin-bottom: 0.5em;
	}

/* =Main
   ---------------------------------------------------------------------------- */
#main {}

	#main h2 {
		border-top: 4px solid #eee;
		color: #000;
		font-size: 1.5em;
		font-weight: normal;
		margin-bottom: 0.5em;
		margin-top: 2em;
	}
	
	#main pre {
		background: #eee;
		border: 1px solid #ccc;
		color: #777;
		font: 1.1em/1.5em Courier, monospace;
		margin-bottom: 1.5em;
		padding: 0.5em 1em;
	}
	
	#main .content {
		background: #ddd;
		border: 1px solid #333;
		padding: 0.5em;
	}
	
		#main .content h2 {
			border: 0;
			margin-top: 0;
		}

	#main .tabi-global {}
	
		
		#main .tabi-global ul, #main .example ul {
			font-size: 0.9em;
			margin: 0 0.25em;
		}
		
		#main .tabi-global ul.current-row {
			font-size: 1em;
			margin: 0;
		}
		
			#main .tabi-global ul li.tabi-0 {
				width: 33.3333%;
			}
			
			#main .tabi-global ul li.tabi-1 {
				width: 25%;
			}
			
			#main .tabi-global ul li.tabi-2 {
				width: 50%;
			}
			
			#main .tabi-global ul li, #main .example ul li {
				float: left;
			}
			
			#main .tabi-global ul li.current-tab, #main .example ul li.current-tab {
				position: relative;
				bottom: -1px;
			}
			
				#main .tabi-global ul li a, #main .example ul li a {
					background: #eee;
					border: 1px solid #aaa;
					border-width: 1px 1px 0px 1px;
					display: block;
					padding: 0.25em;
					text-decoration: none;
					
					border-radius: 4px 4px 0 0;
					-moz-border-radius: 4px 4px 0 0;
					-webkit-border-top-left-radius: 4px;
					-webkit-border-top-right-radius: 4px;
				}
				
				#main .tabi-global ul li a:hover, #main .example ul li a:hover {
					color: #000;
				}
				
				#main .tabi-global ul li.current-tab a, #main .example ul li.current-tab a {
					background: #ddd;
					border-color: #333;
					color: #000;
					text-decoration: underline;
				}