/* ----------------------------------------------------------------------------
	Stylesheets only for Internet Explorer 7
	Author: Juan G. Hurtado
	e-Mail: juan.g.hurtado@gmail.com
   ---------------------------------------------------------------------------- */

/* =Misc
   ---------------------------------------------------------------------------- */
/* Self-clear floats */
.clearfix, .group {
	min-height: 1px;
}

/* =Global
   ---------------------------------------------------------------------------- */

/* =Header
   ---------------------------------------------------------------------------- */

/* =Navigation
   ---------------------------------------------------------------------------- */

/* =Main
   ---------------------------------------------------------------------------- */

/* =Aside
   ---------------------------------------------------------------------------- */

/* =Footer
   ---------------------------------------------------------------------------- */